package frc.robot.{{ package }};

import static edu.wpi.first.units.Units.Amps;
import static edu.wpi.first.units.Units.Centimeters;
import static edu.wpi.first.units.Units.Rotations;
import static edu.wpi.first.units.Units.Seconds;
import static edu.wpi.first.units.Units.Volts;

import com.ctre.phoenix6.signals.InvertedValue;
import coppercore.parameter_tools.json.JSONExclude;
import coppercore.parameter_tools.json.JSONSync;
import coppercore.parameter_tools.json.JSONSyncConfigBuilder;
import coppercore.parameter_tools.path_provider.EnvironmentHandler;
import edu.wpi.first.units.measure.Angle;
import edu.wpi.first.units.measure.Current;
import edu.wpi.first.units.measure.Distance;
import edu.wpi.first.units.measure.Time;
import edu.wpi.first.units.measure.Voltage;
import edu.wpi.first.wpilibj.Filesystem;

public class {{ name }}Constants {
  @JSONExclude
  public static final JSONSync<{{ name }}Constants> synced =
      new JSONSync<{{ name }}Constants>(
          new {{ name }}Constants(),
          "{{ name }}Constants.json",
          EnvironmentHandler.getEnvironmentHandler().getEnvironmentPathProvider(),
          new JSONSyncConfigBuilder().build());
  {%- if limit_sensing_method != "Current" %}

  public final Integer {{ limit_switch_name }}ID = {{ limit_switch_name|hash_can_id }};
  {%- endif%}

  {% for motor in motors %}
  public final Integer {{ motor }}ID = {{ motor|hash_can_id }}; // TODO: Replace placeholder CAN ID
  public final InvertedValue k{{ motor|upperfirst }}Inverted = InvertedValue.Clockwise_Positive;
  {%- endfor %}

  public final Current supplyCurrentLimit = Amps.of(40);
  public final Current statorCurrentLimit = Amps.of(40);

{% if limit_sensing_method == "CANrange" %}
  public final Distance {{ limit_switch_name }}ProximityThreshold = Centimeters.of(8.0);
  public final Distance {{ limit_switch_name }}ProximityHysteresis = Centimeters.of(0.5);
  public final Double {{ limit_switch_name }}MinSignalStrengthForValidMeasurement = 2500.0;
{%- endif %}

  public final Voltage {{ game_piece|lowerfirst }}IntakeVoltage = Volts.of(3.0);
  public final Voltage {{ game_piece|lowerfirst }}Voltage = Volts.of(3.0);
{%- if limit_sensing_method == "Current" %}

  public final Current {{ game_piece|lowerfirst }}DetectionCurrent = Amps.of(10.0);

  public final Time {{ game_piece|lowerfirst }}CurrentDetectionTimeRising = Seconds.of(0.5);

  public final Time {{ game_piece|lowerfirst }}CurrentDetectionTimeFalling = Seconds.of(2.0);
{%- endif %}

  public static final class Sim {
    @JSONExclude
    public static final JSONSync<{{ name }}Constants.Sim> synced =
        new JSONSync<{{ name }}Constants.Sim>(
            new {{ name }}Constants.Sim(),
            Filesystem.getDeployDirectory()
                .toPath()
                .resolve("constants/{{ name }}Constants.Sim.json")
                .toString(),
            new JSONSyncConfigBuilder().build());
    
    /**
     * Simulated motor speed per volt applied
     * 
     * <p> (e.g. 12V = 12 rotations per second at 1 rotation per second per volt)
     */
    public final Double rotationsPerSecondPerVolt = 5.0;

    /**
     * The signum the motor voltage must match for intakeTimeSeconds to intake.
     */
    public final Double intakeSignum = 1.0;

    /**
     * How long the motor voltage signum must equal intakeSignum to intake
     */
    public final Double intakeTimeSeconds = 0.5;

    /**
     * The signum the motor voltage must match for ejectTimeSeconds to eject.
     *
     * <p> Ejecting means sending the game piece backward through the mechanism.
     */
    public final Double ejectSignum = 1.0;

    /**
     * How long the motor voltage signum must equal ejectSignum to eject
     */
    public final Double ejectTimeSeconds = 0.8;

    // TODO: Ensure that eject/outtaking logic matches real-life mechanism
    /**
     * The signum the motor voltage must match for outtakeTimeSeconds to outtake.
     *
     * <p> Outtaking is passing the piece through the mechanism forward.
     */
    public final Double outtakeSignum = 1.0;

    /**
     * How long the motor voltage signum must equal outtakeSignum to outtake
     */
    public final Double outtakeTimeSeconds = 1.0;
{%- if limit_sensing_method == "CANrange" %}

    public final Distance distanceWith{{ game_piece|upperfirst }} = Centimeters.of(1.0);
    public final Distance distanceWithoutObject = Centimeters.of(50.0);
{%- endif%}
  }
}
