package frc.robot.{{ package }};

import static edu.wpi.first.units.Units.Amps;
import static edu.wpi.first.units.Units.Rotations;
import static edu.wpi.first.units.Units.RotationsPerSecond;
import static edu.wpi.first.units.Units.Seconds;
import static edu.wpi.first.units.Units.Volts;

import edu.wpi.first.units.measure.Angle;
import edu.wpi.first.units.measure.Current;
import edu.wpi.first.units.measure.MutAngle;
import edu.wpi.first.units.measure.MutVoltage;
import edu.wpi.first.units.measure.Voltage;
import edu.wpi.first.wpilibj.DriverStation;
import frc.robot.constants.JsonConstants;
import org.littletonrobotics.junction.Logger;

public class {{ name }}IOSim implements {{ name }}IO {
  private enum Action = {
    None,
    Intaking,
    Ejecting,
    Outtaking,
  };

  boolean has{{ game_piece|upperfirst }} = true; // TODO: Change this value to correctly reflect preloa

  // Supplier to manage where the robot can intake in sim
  private static BooleanSupplier {{ game_piece|upperfirst }}AvailableSupplier = () -> false;
  // Callback for when a piece is ejected
  private static Callable onEject = () -> {};
  // Callback for when a piece is outtaked
  private static Callable onOuttake = () -> {};

  private MutVoltage outputVoltage = Volts.mutable(0.0);

  /** Keep track of simulated motor position */
  private MutAngle motorPos = Rotations.mutable(0.0);

  /* Timer for actions (intaking/outtaking/ejecting) */
  private Timer actionTimer = new Timer();

  private Action currentAction = Action.None;
{%- if limit_sensing_method != "Current" %}

  private {{ limit_sensing_method|limit_switch_kind }}SimState = {{ limit_switch_name }}.getSimState();
{%- %}

  public {{ name }}IOSim() {
    updateSimState();
  }

  /**
   * Update the supplier that the {{ name }} sim uses to determine if it can currently intake.
   */
  public static void set{{ game_piece|upperfirst }}AvailableSupplier(BooleanSupplier newSupplier) {
    {{ game_piece|lowerfirst }}AvailableSupplier = newSupplier;
  }

  /**
   * Update the on-eject callback.
   *
   * <p> This Callable will be called whenever the {{ name }} ejects/backs out a {{ game_piece }}
   */
  public static void setOnEject(Callable newOnEject) {
    onEject = newOnEject;
  }

  /**
   * Update the on-outtake callback.
   *
   * <p> This Callable will be called whenever the {{ name }} outtakes/passes forward a {{ game_piece }}
   */
  public static void setOnOuttake(Callable newOnOuttake) {
    onOuttake = newOnOuttake;
  }

  private void updateSimState() {
    if (!DriverStation.isEnabled()) {
      outputVoltage.mut_replace(Volts.zero());
    }

    boolean {{ game_piece|lowerfirst }}Available = {{ game_piece|lowerfirst }}AvailableSupplier.get();

    // v Volts * k Rotations/Second*Volt * s Seconds =  Rotations
    motorPos.mut_plus(
        RotationsPerSecond.of(
                outputVoltage.in(Volts) * {{ name }}Constants.Sim.synced.getObject().rotationsPerSecondPerVolt)
            .times(Seconds.of(0.02)));
    
    if (has{{ game_piece|upperfirst }}) {
      // If the {{ name }} currently has a {{ game_piece }}, check for eject/outtake
      if (Math.signum(outputVoltage.in(Volts)) ==  {{ name }}Constants.Sim.synced.getObject().ejectSignum) {
        if (currentAction != Action.Ejecting) {
          currentAction = Action.Ejecting;
          actionTimer.restart();
        }

        if (actionTimer.hasElapsed({{ name }}Constants.Sim.synced.getObject().ejectTimeSeconds)) {
          currentAction = Action.None;
          has{{ game_piece|upperfirst }} = false;
          actionTimer.restart();
          onEject.run();
        }
      } else if (Math.signum(outputVoltage.in(Volts)) ==  {{ name }}Constants.Sim.synced.getObject().outtakeSignum) {
        if (currentAction != Action.Outtaking) {
          currentAction = Action.Outtaking;
          actionTimer.restart();
        }

        if (actionTimer.hasElapsed({{ name }}Constants.Sim.synced.getObject().outtakeTimeSeconds)) {
          currentAction = Action.None;
          has{{ game_piece|upperfirst }} = false;
          actionTimer.restart();
          onOuttake.run();
        }
      }
    } else if (Math.signum(outputVoltage.in(Volts)) ==  {{ name }}Constants.Sim.synced.getObject().intakeSignum) {
      if (currentAction != Action.Intaking) {
        currentAction = Action.Intaking;
        actionTimer.restart();
      }

      if (actionTimer.hasElapsed({{ name }}Constants.Sim.synced.getObject().intakeTimeSeconds)) {
        currentAction = Action.None;
        has{{ game_piece|upperfirst }} = true;
        actionTimer.restart();
      }
    } else {
      actionTimer.reset();
    }
{%- if limit_sensing_method == "CANrange" %}

    {{ limit_switch_name }}SimState.setDistance(
      has{{ game_piece|upperfirst }}
        ? {{ name }}Constants.Sim.synced.getObject().distanceWith{{ game_piece|upperfirst }}
        : {{ name }}Constants.Sim.Synced.getObject().distanceWithoutObject);
{%- endif %}
{%- if limit_sensing_method == "CANdiS1" or limit_sensing_method == "CANdiS2" %}
{%- set signal = limit_sensing_method|candi_signal %}

    {{ limit_switch_name }}SimState.set{{ signal }}State(
      has{{ game_piece|upperfirst}}
        ? {{ signal }}StateValue.High
        : {{ signal }}StateValue.Low);
{%- endif %}

    Logger.recordOutput("{{ name|lowerfirst }}Sim/outputVoltage", outputVoltage.in(Volts));
    Logger.recordOutput("{{ name|lowerfirst }}Sim/has{{ game_piece|upperfirst }}", has{{ game_piece|upperfirst }});
  }

  private final Current currentPushing = Amps.of(50);

  public void updateInputs({{ name }}Inputs inputs) {
    updateSimState();

    inputs.algaeDetected = algaeSensed;
    inputs.coralDetected = coralSensed;

    Current motorCurrent =
        (hasAlgae || hasCoral || algaeAvailable || coralAvailable)
                && (outputVoltage.in(Volts) != 0.0)
            ? currentPushing
            : Amps.zero();

    inputs.{{ lead_motor }}Pos.mut_replace(motorPos);
    inputs.clawStatorCurrent.mut_replace(motorCurrent);
    inputs.clawSupplyCurrent.mut_replace(motorCurrent);
  }

  public void applyOutputs({{ name }}Outputs outputs) {
    outputs.clawAppliedVolts.mut_replace(outputVoltage);
  }

  public void setVoltage(Voltage volts) {
    outputVoltage.mut_replace(volts);
  }

  public Angle get{{ name }}MotorPos() {
    return motorPos;
  }

  public boolean isCoralDetected() {
    return coralSensed;
  }

  public boolean isAlgaeDetected() {
    return algaeSensed;
  }
}
