package frc.robot.{{ package }};

import static edu.wpi.first.units.Units.Rotations;
import static edu.wpi.first.units.Units.Seconds;
import static edu.wpi.first.units.Units.Volts;

import coppercore.parameter_tools.LoggedTunableNumber;
import edu.wpi.first.math.filter.Debouncer;
import edu.wpi.first.math.filter.Debouncer.DebounceType;
import frc.robot.TestModeManager;
import frc.robot.constants.JsonConstants;
import frc.robot.subsystems.scoring.states.IntakeState;
import org.littletonrobotics.junction.Logger;

public class {{ name }}Mechanism {
  private {{ name }}IO io;
  private {{ name }}InputsAutoLogged inputs = new {{ name }}InputsAutoLogged();
  private {{ name }}OutputsAutoLogged outputs = new {{ name }}OutputsAutoLogged();

  private LoggedTunableNumber manualTuningVolts;

  public {{ name }}Mechanism({{ name }}IO io) {
    manualTuningVolts = new LoggedTunableNumber("{{ name }}Tunables/{{ name|lowerfirst }}ManualVolts", 0.0);

    this.io = io;
  }

  /**
   * Return the {{ name }}Mechanism's {{ name }}IO instance
   *
   * <p>NOTE: Be careful to only call methods from where they're allowed to be called (according to IO method docstrings)!
   *
   * @return a {{ name }}IO
   */
  public {{ name }}IO getIO() {
    return io;
  }

  /**
   * This method must be called from the subsystem's periodic! Mechanism periodics don't run
   * automatically!
   */
  public void periodic() {
    io.updateInputs(inputs);
    io.applyOutputs(outputs);

    Logger.processInputs("{{ name|lowerfirst }}/inputs", inputs);
    Logger.processInputs("{{ name|lowerfirst }}/outputs", outputs);
  }

  /** This method must be called from the subsystem's test periodic! */
  public void testPeriodic() {
    switch (TestModeManager.getTestMode()) {
      case {{ name }}Tuning:
        LoggedTunableNumber.ifChanged(
            hashCode(),
            (volts) -> {
              io.setVoltage(Volts.of(volts[0]));
            },
            manualTuningVolts);
        break;
      default:
        break;
    }
  }

  /**
   * Check whether the {{ name }} currently detects a {{ game_piece }}
   *
   * @return True if detected, false if not
   */
  public boolean is{{ game_piece }}Detected() {
    return inputs.{{ game_piece|lowerfirst }}Detected;
  }

  /**
   * Intake at a specified voltage until a {{ game_piece }} is detected.
   * 
   * @param voltage A Voltage, the voltage to apply to the motors until that piece is detected.
   */
  public void intake(Voltage voltage) {
    {%- if limit_sensing_method != "Current" %}
    io.setObeyLimitSwitch(true);
    {%- endif %}
    io.setVoltage(voltage)
  }

  /**
   * Run motors at a certain voltage, regardless of whether a {{ game_piece }} is detected.
   *
   * @param voltage A voltage, the voltage to apply to the motors until otherwise specified.
   */
  public void eject(Voltage voltage) {
    io.setVoltage(voltage);
  }

  /**
   * Stop the motors (apply zero volts)
   */
  public void stop() {
    io.setVoltage(Volts.zero())
  }
}
