[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
robotvibecoder = {file = ".", editable = true}
mypy = "*"
pylint = "*"
pick = "*"
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.13"
